.c-user-form {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  &__submit-button {
    width: 100%;
    margin-top: 2rem;
  }
  &__content-column {
    height: 100%;
  }

  &__banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2.5rem;

    &--code-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin: 2rem 0 1rem 0;
    }

    > h1,
    > h4,
    > p {
      align-self: flex-start;
    }
    > h1 {
      font-size: 2.6rem;
      letter-spacing: 0.8px;
      font-weight: 900;
    }

    p {
      margin-top: 1rem;
      font-size: 0.9rem;
    }
  }
}

.recaptcha-wrapper {
  height: 100dvh;
  width: 100dvw;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: var(--whiteTransparent);
}

@media (min-width: 700px) {
  .c-user-form {
    &__content-column {
      height: 100%;
      width: 50%;
    }

    &__banner {
      height: 100%;
      width: 50%;
      border-radius: 25% 0 0 25%;
      background: var(--blue300);
      padding-top: 20%;
      justify-content: flex-start;

      > h1,
      > h4,
      > p {
        color: var(--white100);
        align-self: auto;
      }
      > h1 {
        letter-spacing: 3px;
        font-size: 2.5rem;
      }
      > h4 {
        font-size: 1.1rem;
        font-weight: 400;
        letter-spacing: 3px;
      }

      p {
        margin-top: 2rem;
      }
    }
  }
}
