.c-overlay {
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--gray800);
}

.c-modal {
  min-height: 30dvh;
  width: 90dvw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: var(--backgroundWhite);
  border-radius: 20px;
  padding: 2.5rem;

  &__sign {
    height: 5rem;
    width: 5rem;
    position: absolute;
    top: -2.5rem;
    border-radius: 50%;
    background: var(--red700);

    svg {
      height: 40%;
      width: auto;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__header {
    color: var(--errorColor);
    font-size: 2.5rem;
    margin-top: 1rem;
    text-align: left;
    letter-spacing: 3px;
    position: relative;
    z-index: 2;
  }

  &__content {
    position: relative;
    color: var(--gray300);
    z-index: 2;
    font-size: 1rem !important;
    line-height: 1.5rem;
    text-align: center;
    margin: 1.5rem 0;
  }

  &__close {
    position: relative;
    z-index: 2;
    padding: 0.8rem 3rem;
    background: var(--red700);
    font-size: 0.8rem;

    &:hover {
      background: var(--red600);
    }
    &:active {
      background: var(--red900);
    }
  }

  &[data-model-type='success'] {
    .c-modal {
      &__sign {
        background: var(--green600);
      }
      &__close {
        background: var(--green600);
        padding: 0.8rem 3rem;
        font-size: 0.8rem;

        &:hover {
         background: var(--green200);
        }
        &:active {
          background: var(--green500);
        }
      }
    }
  }
}
@media (min-width: 900px) {
  .c-modal {
    min-height: 35dvh;
    width: 20dvw;
  }
}

.c-success {
  &__rebate {
    margin: 0.8rem;
    color: var(--gray400);
    span {
      color: var(--gray800);
    }
  }
  &__disclaimer {
    font-size: 0.8rem !important;
    color: var(--gray300);
    text-align: center;
  }
}
