:root {
  --background: #0a0a0a;
  --backgroundSecondary: #a9a7a7;
  --foreground: #ededed;
  --secondaryFontColor: #343434;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}