.c-main {
  position: relative;
  height: calc(100dvh - 0rem);
  width: calc(100dvw - 0.2rem);
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--backgroundWhite);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: width 0.5s, height 0.5s;
}

@media (min-width: 700px) {
  .c-main {
    width: 80%;
    height: calc(100dvh - 4rem);
    flex-direction: row;
    gap: 0;
  }
}
