.checkbox-container {
  display: flex;
  align-self: flex-end;
  padding-bottom: 0.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: center !important;
  gap: 0.5rem;

  label {
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: auto;
    gap: 0.5rem;
  }
  input {
    cursor: pointer;
  }
}

.c-subscribe-checkbox-container {
  display: flex;
  position: relative;

  &__content {
    position: absolute;
    top: 1.5rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center !important;
    gap: 0.5rem;

    label {
      width: auto;
      display: flex;
      align-items: center;
      white-space: nowrap;
      text-transform: uppercase;
      font-size: 0.9rem;
      gap: 0.5rem;
    }
    input {
      appearance: none;
      width: 20px;
      height: 20px;
      border: 2px solid var(--gray300);
      border-radius: 4px;
      background-color: var(--gray100);
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      :hover {
        border-color: var(--gray800);
      }

      &:checked {
        background-color: var(--gray800);
        border-color: var(--gray800);

        &::before {
          content: '✔';
          display: block;
          text-align: center;
          color: var(--gray100);
        }
      }
    }
  }
}

.c-subscribe-svg {
transform: translateY(1rem);
  
  &[data-active='true'] {
    .c-subscribe-svg {
      &__envelope path {
        fill: var(--blue000);
        stroke-width: 2;
        transform: translateX(12rem) translateY(-1rem) scale(1.5);
      }
      &__bottom-right-line path {
        transform: translateX(-20rem) translateY(1rem);
      }

      &__right-line path {
        transform: translateX(-20rem) ;
      }

      &__left-line path {
        transform: translateX(-7rem);
      }

      &__bottom-left-line path {
        transform: translateX(-6rem) translateY(1rem);
      }
    }
  }

  /* Default styles for SVG elements */
  &__envelope path {
    fill: var(--gray100);
    stroke: var(--gray800);
    stroke-width: 3;
    transition: all 0.4s ease-in-out;
    transition-delay: 0.2s;
  }

  &__left-line path {
    stroke: var(--gray800);
    stroke-width: 2;
    transition: all 0.4s ease-in-out;
  }

  &__bottom-left-line path {
    stroke: var(--gray800);
    stroke-width: 2;
    transition: all 0.4s ease-in-out;
  }

  &__right-line path {
    stroke: var(--gray800);
    stroke-width: 2;
    transition: all 0.4s ease-in-out;
    transition-delay: 0.2s; 
  }

  &__bottom-right-line path {
    stroke: var(--gray800);
    stroke-width: 2;
    transition: all 0.4s ease-in-out;
  }
}

@media (min-width: 700px) {
  .c-subscribe-svg {
    transform: translateY(0);
  }
}

.hidden-checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-image-container {
  width: calc(100% / 2.2);
  aspect-ratio: 1;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  overflow: hidden;

  img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    transition: transform 0.2s ease-in-out, border 0.2s ease-in-out;
    transform-origin: center;
  }

  &:hover img {
    transform: scale(1.1);
    filter: blur(5px) hue-rotate(180deg) brightness(50%);
  }

  .checked {
    outline: 3px solid var(--blue500);
    outline-offset: -1rem;
  }

  label {
    position: absolute;
    margin: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--gray100);
    transition: all 0.2s ease-in-out;
    opacity: 0;
  }

  &:hover label {
    transition-delay: 0.2s;
    opacity: 1;
    transform: scale(1.1);
  }
}

@media (min-width: 700px) {
  .checkbox-image-container {
    width: calc(100% / 3.2);
  }
}
