.c-admin-portal {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;

  &__toggle {
    height: 1rem;
    width: 1rem;
    position: absolute;
    z-index: 9999;
    top: 14dvh;
    right: 4rem;

    input[type='checkbox'] {
      display: none;
    }

    label {
      width: 60px;
      height: 34px;
      background-color: var(--white100);
      border: 2px solid var(--blue300);
      border-radius: 32px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &::before {
        content: 'New';
        position: absolute;
        left: -2.5rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0.8rem;
        color: var(--white100);
        text-transform: uppercase;
        transition: color 0.5s ease;
        transition-delay: 0.5s;
      }

      &::after {
        content: 'All';
        position: absolute;
        right: -2rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0.8rem;
        color: var(--white100);
        text-transform: uppercase;
        transition: color 0.5s ease;
        transition-delay: 0.5s;
      }

      span {
        position: absolute;
        width: 28px;
        height: 28px;
        background-color: var(--blue300);
        border-radius: 50%;
        transition: transform 0.3s ease;
        margin: 1px 0px 1px 1px;
      }
    }
    input[type='checkbox']:checked + label span {
      transform: translateX(26px);
    }
  }
  &__banner {
    width: 100%;
    height: 20dvh;
    display: flex;
    position: relative;
    z-index: 99;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &--background {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      background: var(--blue300);
      border-radius: 0 0 25px 25px;
      transition: transform 1s ease-in-out;
    }

    &--constellation {
      opacity: 0.5;
      width: 92%;
      position: absolute;
      z-index: 0;
      top: 5%;
      left: 5%;
    }

    &--title {
      > h1,
      > h4,
      > p {
        align-self: flex-start;
        color: var(--white100);
        margin-left: 2rem;
      }
      > h1 {
        font-size: 2.6rem;
        letter-spacing: 0.8px;
        font-weight: 900;
      }

      > h4 {
        margin-bottom: 1rem;
      }
    }

    &--download {
      padding: 0.5rem 1.9rem !important;
      background-color: transparent !important;
      outline: 2px solid var(--gray100) !important;
      margin-left: 2rem;

      &:hover {
        background-color: var(--blue400) !important;
      }

      &:active {
        background-color: var(--blue200) !important;
      }

      &:disabled {
        background-color: var(--gray200) !important;
        outline: none !important;
        color: var(--blue300) !important;
        &:hover {
          background-color: var(--gray300) !important;
        }
      }
    }
  }

  &__content {
    height: 63dvh;
    width: 100%;
    padding: 1rem;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 0.5rem;
    transition: transform 1s ease-in-out;

    &--list {
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      overflow: scroll;
      gap: 0.5rem;
    }
  }
}

@media (min-width: 700px) {
  .c-admin-portal {
    flex-direction: row-reverse;

    &__toggle {
      top: auto;
      bottom: 2rem;
      right: 5rem;
    }

    &__banner {
      height: 100%;
      width: 50%;
      transition: transform 0.5s ease;
      transform-origin: left center;
      animation-fill-mode: forwards;

      &--background {
        border-radius: 20px;
      }

      &--title {
        padding: 2rem 4rem;
      }

      &--download {
        margin: 0 6rem;
      }
    }

    &__content {
      width: 50%;
      height: 100%;
      padding: 2rem 1rem 2rem 2rem;

      &--list {
        padding: 1rem 0 2rem 0;
        gap: 0.9rem;

        &[data-empty='true'] {
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
@media (min-width: 700px) {
  .c-admin-portal {
    &[data-new-rebates='true'] {
      .c-admin-portal__toggle {
        label {
          border: 2px solid var(--blue300);
          &::before,
          &::after {
            color: var(--blue300);
          }
        }
      }
      .c-admin-portal__banner--background {
        animation: rubber-open 0.9s ease-in-out forwards;
        transform-origin: left center;
      }
      .c-admin-portal__banner {
        transform: translateX(-100%);
      }
      .c-admin-portal__content {
        transform: translateX(100%);
      }
    }
    &[data-new-rebates='false'] {
      .c-admin-portal__banner--background {
        animation: rubber-close 0.9s ease-in-out forwards;
        transform-origin: right center;
      }
    }
  }
}

@keyframes rubber-open {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(5);
  }
  80% {
    transform: scaleX(0.9);
  }
  100% {
    transform: scaleX(1);
  }
}

/* keyframes for closing (pulling right) */
@keyframes rubber-close {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(5);
  }
  80% {
    transform: scaleX(0.9);
  }
  100% {
    transform: scaleX(1);
  }
}
