.c-admin-portal {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;

  &__banner {
    width: 100%;
    height: 20dvh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 2rem;
    background: var(--blue300);
    border-radius: 0 0 25px 25px;

    &--constellation {
      opacity: 0.5;
      width: 92%;
      position: absolute;
      z-index: 0;
      top: 5%;
      left: 5%;
    }
    &--toggle {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      position: relative;
      label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--textPrimary);
      }

      input[type='checkbox'] {
        width: auto;
      }
    }

    &--title {
      > h1,
      > h4,
      > p {
        align-self: flex-start;
        color: var(--white100);
      }
      > h1 {
        font-size: 2.6rem;
        letter-spacing: 0.8px;
        font-weight: 900;
      }

      > h4 {
        margin-bottom: 1rem;
      }
    }
  }

  &__content {
    height: 80dvh;
    width: 100%;
    padding: 1rem;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 0.5rem;

    &--list {
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;
      flex-direction: column;
      overflow: scroll;
      gap: 0.5rem;

      &--item {
        width: 100%;
        height: 8rem;
        display: flex;
        justify-content: space-between;
        border: 2px dashed var(--gray200);
        align-items: center;
        padding: 0.5rem;
        border-radius: 4px;

        &-image {
          width: 5rem;
          height: 5rem;
          object-fit: cover;
          border-radius: 5px;
        }
      }
    }
    &--download {
      max-width: 100%;
      margin-top: 1rem;
    }
  }
}

@media (min-width: 700px) {
  .c-admin-portal {
    flex-direction: row-reverse;

    &__banner {
      height: 100%;
      width: 50%;
      border-radius: 155px 0 0 155px;

      &--title {
        padding: 2rem 4rem;
      }
      &--toggle {
        align-self: end;
      }
    }

    &__content {
      width: 50%;
      height: 100%;
      padding: 2rem 1rem 2rem 2rem;

      &--download {
        width: 50%;
      }
    }
  }
}
