.c-admin-portal {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;

  &__banner {
    width: 100%;
    height: 20dvh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 2rem;
    background: var(--blue300);
    border-radius: 0 0 25px 25px;

    &--constellation {
      opacity: 0.5;
      width: 92%;
      position: absolute;
      z-index: 0;
      top: 5%;
      left: 5%;
    }
    &--toggle {
      height: 1rem;
      width: 8rem;
      position: absolute;
      bottom: 2.5rem;
      right: 4rem;

      input[type='checkbox'] {
        display: none;
      }

      label {
        width: 60px;
        height: 32px;
        background-color: var(--white100);
        border-radius: 32px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border: 2px solid var(--white100);
        margin: 0 6rem;

        &::before {
          content: 'New';
          position: absolute;
          left: -2.5rem;
          top: 50%;
          transform: translateY(-50%);
          font-size: 0.8rem;
          color: var(--white100);
          text-transform: uppercase;
        }

        &::after {
          content: 'All';
          position: absolute;
          right: -2rem;
          top: 50%;
          transform: translateY(-50%);
          font-size: 0.8rem;
          color: var(--white100);
          text-transform: uppercase;
        }

        span {
          position: absolute;
          width: 28px;
          height: 28px;
          background-color: var(--blue300);
          border-radius: 50%;
          transition: transform 0.3s ease;
        }
      }
      input[type='checkbox']:checked + label span {
        transform: translateX(28px);
      }
    }

    &--title {
      > h1,
      > h4,
      > p {
        align-self: flex-start;
        color: var(--white100);
      }
      > h1 {
        font-size: 2.6rem;
        letter-spacing: 0.8px;
        font-weight: 900;
      }

      > h4 {
        margin-bottom: 1rem;
      }
    }

    &--download {
      padding: 0.5rem 1.9rem !important;
      background-color: transparent !important;
      outline: 2px solid var(--gray100) !important;

      &:hover {
        outline: 2px solid var(--gray100) !important;
      }

      &:disabled {
        background-color: var(--gray200) !important;
        outline: none !important;
        color: var(--blue300) !important;
        &:hover {
          background-color: var(--gray300) !important;
        }
      }
    }
  }

  &__content {
    height: 65dvh;
    width: 100%;
    padding: 1rem;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 0.5rem;

    &--list {
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;
      flex-direction: column;
      overflow: scroll;
      gap: 0.5rem;

      &--item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
        align-items: center;
        padding: 1rem;
        border-radius: 15px;
        gap: 1.5rem;

        &-content {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          width: 100%;
          height: 100%;
          justify-content: center;
        }
        &-image {
          min-width: 5rem;
          height: 5rem;
        }
      }
    }
  }
}

@media (min-width: 700px) {
  .c-admin-portal {
    flex-direction: row-reverse;

    &__banner {
      height: 100%;
      width: 50%;
      border-radius: 155px 0 0 155px;

      &--title {
        padding: 2rem 4rem;
      }

      &--toggle {
        width: 10rem;
        padding: 0;
        top: 1.5rem;
        right: 2.5rem;
      }
      &--download {
        margin: 0 4rem;
      }
    }

    &__content {
      width: 50%;
      height: 100%;
      padding: 2rem 1rem 2rem 2rem;

      &--list {
        padding: 1rem 0 2rem 0;

        &[data-empty='true'] {
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
